@import "main.css";


#container {
  
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:100%;
}

.column-group {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:80vw;
  margin-left:10vw;
}



