body {

  background-color: #3a3d40;
  font-family:helvetica;
  color:#f0f0f0;
}

#navbar {
  border-bottom:3px solid #EF3A25;
  box-shadow:0px 2px 5px #181719;
  background-color:#222;
}


.navbar-link {
  color:#f0f0f0;
}

.navbar-link:hover{
  background-color:#3a3d40;
}


.navbar-link:hover{
  background-color:#3a3d40;
}

#container {
  margin:0;
  padding:0;
}

#footer{
  background-color:#222;
  box-shadow:-5px -5px 50px #3a3d40;
  box-shadow:-5px -5px 50px #3a3d40;
}