body {
  background-image: linear-gradient(270deg, #181719 0%, #3a3d40 100%);
  margin: 0;
  padding: 0;
  font-family:helvetica;
  color:#f0f0f0;
}

#navbar {
  position:fixed;
  border-bottom:3px solid #EF3A25;
  box-shadow:0px 2px 5px #181719;
  background-color:#222;
}

#navbar-header {
  margin:0;
  padding:0;
}

#navbar-header h1 {
  position:relative;
}

.navbar-link {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  position:relative;
  color:#f0f0f0;
  text-decoration:none;
}

.navbar-link:hover{
  background-color:#3a3d40;
}

#container {
  margin:0;
  padding:0;
}

#footer{
  background-color:#222;
  box-shadow:-5px -5px 50px #3a3d40;
}