@import "main.css";

#container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.trainers-heading {
  text-align:center;
}

.card-header {
  font-size:21px;
}

ol li {
  margin-bottom:20px;
}

ul li {
  margin-bottom:20px;
}