@import "main.css";

#container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#planner-central-group {
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:center;
}

.planner-card {

  border: 10px solid #555;
  border-radius:15px;
  background-color:#222;
  margin-bottom:50px;
  margin-top:20px;
  width:60vw;
  min-width:550px;
  height:auto;
  padding:10px;
  padding-left:20px;

}

.card-header {
  font-weight:700;
  font-size:18px;
  text-align:center;
  margin:0;
  padding:0;
  padding-top:10px;
  padding-bottom:15px;
  margin-bottom:30px;
  border-bottom: 1px solid #f0f0f0;
}
.card-list li {
  margin-bottom:15px;
}

li a {
  color:#f0f0f0;
}