@import "main.css";

#container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}


.trainer-group {
  border: 10px solid #555;
  border-radius:15px;
  background-color:#222;
  margin-bottom:50px;
  margin-top:20px;
  width:20vw;
  min-width:300px;
  height:auto;
  padding:10px;
  padding-left:20px;
}

.trainers-subheading {
  font-weight:700;
  font-size:18px;
  text-align:center;
  margin:0;
  padding:0;
  padding-top:10px;
  padding-bottom:15px;
  margin-bottom:30px;
  border-bottom: 1px solid #f0f0f0;
}


ol li {
  margin-bottom:15px;
}

ul li {
  margin-bottom:15px;
}